<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <svg style="display: none">
    <symbol id="i-folder" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        d="M6.083 4c1.38 1.612 2.578 3 4.917 3h11v13h-20v-16h4.083zm.917-2h-7v20h24v-17h-13c-1.629 0-2.305-1.058-4-3z"
        fill="currentColor" />
    </symbol>

    <symbol id="i-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z" />
    </symbol>

  </svg>
  <div id="app">
    <ul>
      <!-- ko foreach: menu -->
      <li>
        <a data-bind="text: name, attr: {
          href: './' + id + '.html'
        }"></a>
      </li>
      <!-- /ko -->
    </ul>
  </div>

  <script src="./home.js"></script>
</body>

</html>