<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h1>Инпуты</h1>

    <div>
      <h1>Инпуты</h1>

      <c-input params="value: value, placeholder: 'Placeholder'"></c-input>
      <c-input params="value: value2, placeholder: 'Placeholder', clearable: true,
        maxLength: 100, counter: true"></c-input>
      <c-input params="value: value3, placeholder: 'Search', clearable: true,
        prependIcon: { name: 'i-search', size: 20}"></c-input>

      <input data-bind="dynamicInput" placeholder="Placeholder" />
    </div>
  </div>

  <script src="./calendars.js"></script>
</body>

</html>