<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h1>Селекты</h1>

    <div>
      <h1>Селекты</h1>
      <p>
        Принимают и выводят список элементов { id, text, level, disabled, inactive }.
        <br>
        Поддерживают уровни вложенности (level): обозначаются отступом.
        <br>
        Поддерживают вывод "категорий" (inactive): некликабельны.
        <br>
        Поддерживают заблокированные опции (disabled): некликабельны.
      </p>
      <p>
        Поддерживают "выбранные" элементы - value (изменяется динамически)
        <br>
        Либо одиночное значение, совпадает с id элемента, либо массив id
      </p>
      <p>
        Поддерживают кастомные шаблоны элемента - optionComponentName, resultComponentName
      </p>
      <h2>Обычный</h2>
      <custom-select params="options: items, value: selected"></custom-select>
      <h2>С поиском</h2>
      <custom-select params="options: items, value: selected2, searchable: true"></custom-select>
      <h2>Многоуровневый</h2>
      <custom-select params="options: leveledItems, value: leveledSelected, searchable: true"></custom-select>
      <h2>Со множественным выбором</h2>
      <custom-select params="multiple: true, options: items, value: multipleSelected"></custom-select>

      <h2>С кастомными шаблонами</h2>
      <custom-select params="multiple: true, options: items, value: multipleSelected,
      optionComponentName: 'folder-list-item', resultComponentName: 'folder-list-item'"></custom-select>
    </div>
  </div>

  <script src="./selects.js"></script>
</body>

</html>